## Question 2:


Referring to Figure 1 below which depicts the evolution of the payment activation rate,
there appears to be a visible decline from April to August 2023.
In March 2023, two significant changes were introduced:

1. Hoteliers were given the option to make annual payments for their plans as a default.


2. Monthly payments were increased.These changes may have influenced the payment activation behavior. 


Given this context, could the observed decline in the payment activation rate be purely random, or is it possibly influenced by the
introduction of annual payment plans and the increase in monthly payments? Please explain the
methodology behind your answer.

![Graphic of the monthly evolution of payment activation rate](images/payment.jpeg "Monthly evolution of payment activation rate")

In [3]:
import pandas as pd

# data load

df = pd.read_csv('payment_activation_rate.csv')


df.head()

     month payment_activation_rate
0  2022-04                  76.40%
1  2022-05                  75.30%
2  2022-06                  76.00%
3  2022-07                  73.00%
4  2022-08                  73.80%

In [4]:
# cleaning and converting 'payment_activation_rate' column to numeric values
df['payment_activation_rate'] = df['payment_activation_rate'].str.replace('%', '').astype(float)

# 'month' to datetime
df['month'] = pd.to_datetime(df['month'])


df.head()

       month  payment_activation_rate
0 2022-04-01                     76.4
1 2022-05-01                     75.3
2 2022-06-01                     76.0
3 2022-07-01                     73.0
4 2022-08-01                     73.8

In [10]:
# Before and After  march  2023
before_march_2023 = df[df['month'] < '2023-03-01']['payment_activation_rate']
after_march_2023 = df[df['month'] >= '2023-03-01']['payment_activation_rate']


stats_before = before_march_2023.describe()
stats_after = after_march_2023.describe()

print(f"Stats before March 2023: \n{stats_before}, \n  \nStats after March 2023: \n{stats_after}")

Stats before March 2023:
count    11.000000
mean     76.072727
std       1.507376
min      73.000000
25%      75.650000
50%      76.400000
75%      77.200000
max      77.600000
Name: payment_activation_rate, dtype: float64,

Stats after March 2023:
count     7.000000
mean     71.042857
std       4.342372
min      66.300000
25%      68.850000
50%      69.600000
75%      71.950000
max      79.800000
Name: payment_activation_rate, dtype: float64

#### Initial Observations:

There is a clear decrease in the average payment activation after March 2023.
The variability (standard deviation) also increased significantly after March, suggesting greater instability.

Now we should perform a **hypothesis test (t-test)**  to determine if this difference is statistically significant.

In [ ]:
from scipy.stats import ttest_ind

# t-test to compare after and before March 2023
t_stat, p_value = ttest_ind(before_march_2023, after_march_2023, equal_var=False)

t_stat, p_value

(2.9534869071438155, 0.021544550919744315)

#### Interpretation:

With a significance level of 5% (α = 0.05):

The **p-value 0.0215** is less than 0.05, so we **reject the null hypothesis** (H₀).
This indicates that there is a statistically significant difference between the average payment activation rate before and after March 2023.


#### Conclusion:

The drop in payment activation rate after March is not random. 
It is likely to be influenced by the changes introduced (annual plans and increase in monthly payments).